
@{
    ViewBag.Title = "MustLogin";
}

<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You must be logged in to endorse someone.
</div>
<br />

<a onclick="goBack()"><<< Go Back</a>

<script>
function goBack() {
  window.history.back();
}
</script>

