@{
    ViewBag.Title = "Core Values";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron text-center" style="background-color:gray;color:blueviolet;background-image:url(https://cdn.pixabay.com/photo/2015/11/08/17/10/banner-1033936_1280.jpg)">
    <h1>Centric's Values at their Core</h1>
    <p></p>
</div>

<div class="container">
    
    

    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Stewardship</h3>
            <p style="color:darkslategray">Practice responsible stewardship</p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Culture</h3>
            <p style="color:darkslategray">invest in an Exceptional Culture</p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Delivery Excellence</h3>
            <p style="color:darkslategrey">Commit to Delivery Excellence</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Innovation</h3>
            <p style="color:darkslategray">Strive to Innovate</p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Greater Good</h3>
            <p style="color:darkslategray">Ignite Passion for the Greater Good</p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Integrity and Openness</h3>
            <p style="color:darkslategray">Embrace Integrity and Openness</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            
            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                .fa {
                  padding: 24px;
                  font-size: 30px;
                  width: 65px;
                  text-align: center;
                  text-decoration: none;
                  margin: 5px 5px;
                }
                .fa:hover {opacity: 0.7; }
                .fa-facebook {
                    background: #3B5998;
                    color: white;

                }

                .fa-twitter {
                  background: #55ACEE;
                  color: white;
                }
                .fa-linkedin {
                  background: #007bb5;
                  color: white;
                }
                .fa-instagram {
                  background: #125688;
                  color: white;
                }
            </style>
            <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/CentricConsultingNational" class="fa fa-facebook"></a>
            <a href="https://twitter.com/centric" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/company/centric-consulting/" class="fa fa-linkedin"></a>
            <a href="https://www.instagram.com/centricconsulting/" class="fa fa-instagram"></a>


        </div>

        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Balance</h3>
            <p style="color:darkslategray">Live a Balanced Life</p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow">
            <h3 style="color:blueviolet">Reward Someone's Value</h3>
            <button type="button" class="btn btn-link">Start Rewarding</button>

        </div>


    </div>
