@{
    ViewBag.Title = "Core Values";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron text-center" style="background-color:gray;color:yellow;background-image:url(https://cdn.pixabay.com/photo/2015/11/08/17/10/banner-1033936_1280.jpg)">
    <h1>Centric Values at their Core</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    
        <div class="row">
            <div class="col-sm-4"style="background-color:lavender;"</div>
                <h3>Stewardship</h3>
                <p>Practice responsible stewardship</p>
            </div>
            <div class="col-sm-4">
                <h3>Culture</h3>
                <p>invest in an Exceptional Culture</p>
            </div>
            <div class="col-sm-4">
                <h3>Delivery Excellence</h3>
                <p>Commit to Delivery Excellence</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Innovation</h3>
                <p>Strive to Innovate</p>
            </div>
            <div class="col-sm-4">
                <h3>Greater Good</h3>
                <p>Ignite Passion for the Greater Good</p>
            </div>
            <div class="col-sm-4">
                <h3>Integrity and Openness</h3>
                <p>Embrace Integrity and Openness</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Balance</h3>
                <p>Live a Balanced Life</p>
            </div>
        </div>
    
</div>
