@{
    ViewBag.Title = "Contact Team 9!";
    ViewBag.Message = "Team 9 Email Addresses:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Andrew Sheppard:</strong>   <a href="mailto:as326715@ohio.edu">as326715@ohio.edu</a><br />
    <strong>Allan Dalton:</strong> <a href="mailto:ad586214@ohio.edu">ad586214@ohio.edu</a><br />
    <strong>Clay Shannon:</strong>   <a href="mailto:cs390914@ohio.edu">cs390914@ohio.edu</a><br />
    <strong>Alex Turner:</strong> <a href="mailto:at400415@ohio.edu">at400415@ohio.edu</a><br />
    <strong>Robert Crow:</strong> <a href="mailto:rc907613@ohio.edu">rc907613@ohio.edu</a>
</address>