@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:gray;color:blueviolet;background-image:url(https://cdn.pixabay.com/photo/2015/11/08/17/10/banner-1033936_1280.jpg)">
    <h1>Centric</h1>
    <p class="lead">Core values & Recognition platform (Team 9)</p>
    <p><a href="https://centricconsulting.com/" target="_blank" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Practice Core values</h2>
        <p>
            Visit the core values page to review Centric's core values!
        </p>
        <p><a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/">See practices in values &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Reward Core values</h2>
        <p> Visit our "recognize" page on the platform to reward coworkers who display the values!</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/"> See rewards &raquo;</a> </p>

    </div>
    <div class="col-md-4">
        <h2> Display Core values</h2>
        <p> Show off the core values you've been recognized for on your profile page!</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/"> See core values &raquo;</a> </p>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Stewardship</h3>
            <p style="color:darkslategray">
                The job of supervising or taking care of something, such as an organization or property.
                "responsible stewardship of our company"
            </p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Culture</h3>
            <p style="color:darkslategray">
                the customs, arts, social institutions, and achievements of a particular nation, people, or other social group.
                "Company culture"
            </p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Delivery Excellence</h3>
            <p style="color:darkslategrey">
                the quality of being outstanding or extremely good.
                "a center of academic excellence"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Innovation</h3>
            <p style="color:darkslategray">
                a new method, idea, product, etc.
                
                "technological innovations designed to save energy"
            </p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Greater Good</h3>
            <p style="color:darkslategray">greater-good. Noun. (uncountable) The benefit of the public, of more people than oneself; that which is better and more correct.</p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Integrity and Openness</h3>
            <p style="color:darkslategray">
                the quality of being honest and having strong moral principles; moral uprightness.
                "they are known to be a group of integrity"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet"></h3>
            <p style="color:darkslategray"></p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Balance</h3>
            <p style="color:darkslategray">Live a Balanced Life</p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet"></h3>
            <p style="color:darkslategray"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">

            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                .fa {
                    padding: 24px;
                    font-size: 30px;
                    width: 65px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 5px;
                }

                    .fa:hover {
                        opacity: 0.7;
                    }

                .fa-facebook {
                    background: #3B5998;
                    color: white;
                }

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }

                .fa-linkedin {
                    background: #007bb5;
                    color: white;
                }

                .fa-instagram {
                    background: #125688;
                    color: white;
                }
            </style>
        </div>

    </div>
    
   
</div>