@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:gray;color:yellow;background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/75/Zen_%287475945182%29.jpg)">
    <h1>Centric</h1>
    <p class="lead">Core values & Recognition platform (Team 9)</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Practice Core values</h2>
        <p>
            Visit the core values page to review Centric's core values!
        </p>
        <p><a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/">See practices in values &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reward Core values</h2>
        <p>Visit our "recognize" page on the platform to reward coworkers who display the values!</p>
        <p><a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/">See rewards &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Display Core values</h2>
        <p>Show off the core values you've been recognized for on your profile page!</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/">See core values &raquo;</a></p>
    </div>

</div>
