@{
    ViewBag.Title = "Home Page";
}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>


<div class="jumbotron" style="background-color:gray;color:blueviolet;background-image:url(https://cdn.pixabay.com/photo/2015/11/08/17/10/banner-1033936_1280.jpg)">
    <h1>Centric</h1>
    <strong><p class="lead">Core values & Recognition platform (Team 9)</p></strong>
    <p><a href="https://centricconsulting.com/" target="_blank" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vist Centric's home site</h2>
        <p style="height: 50px">
            Centric Consulting is based out of Dublin, Ohio. For more information, visit the link below
        </p>
        <p><a class="background-color: green;btn btn-default" href="https://centricconsulting.com/about-us/our-story/">Visit Centric's Home Site &raquo;</a></p>
        <br />
    </div>
    <div class="col-md-4">
        <h2>Contact Centric Directly</h2>
        <p style="height: 50px">Follow the link below to contact Centric directly. All messages submitted on the form will be sent to Centric.</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/contact/"> See Employee Directory &raquo;</a> </p>
        <br />

    </div>
    <div class="col-md-4">
        <h2>Centric's News and Events Page</h2>
        <p style="height: 50px">Keep up to date on Centric's news and events and become part of the Centric family</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/news-and-events/"> See core values &raquo;</a> </p>
        <br />
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow; height: 150px">
            <h3 align="center" style="color:blueviolet">Stewardship</h3>
            <p style="color:darkslategray">
                The job of supervising or taking care of something, such as an organization or property.
                "responsible stewardship of our company"
            </p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod; height: 150px">
            <h3 align="center" style="color:blueviolet">Culture</h3>
            <p style="color:darkslategray">
                the customs, arts, social institutions, and achievements of a particular nation, people, or other social group.
                "Company culture"
            </p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow; height: 150px">
            <h3 align="center" style="color:blueviolet">Delivery Excellence</h3>
            <p style="color:darkslategrey">
                the quality of being outstanding or going above and beyond what is expected without being asked
                "a center of academic excellence"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:goldenrod; height: 150px">
            <h3 align="center" style="color:blueviolet">Innovation</h3>
            <p style="color:darkslategray">
                Discovering new methods, ideas, or products through creative problem solving and thinking

                "technological innovations designed to save energy"
            </p>
        </div>

        <div class="col-sm-4" style="background-color:lightgoldenrodyellow; height: 150px">
            <h3 align="center" style="color:blueviolet">Greater Good</h3>
            <p style="color:darkslategray">greater-good. Noun. (uncountable) The benefit of the public, of more people than oneself; that which is better and more correct.</p>
        </div>

        <div class="col-sm-4" style="background-color:goldenrod;  height: 150px">
            <h3 align="center" style="color:blueviolet">Integrity and Openness</h3>
            <p style="color:darkslategray">
                the quality of being honest and having strong moral principles; moral uprightness.
                "they are known to be a group of integrity"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow; height: 425px">
            <h3 align="center" style="color:blueviolet"></h3>
            <p style="color:darkslategray"></p>
            @*<a href="https://twitter.com/centric?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@
            <div class="fb-page" data-href="https://www.facebook.com/CentricConsultingNational" data-tabs="timeline" data-width="400" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/CentricConsultingNational" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/CentricConsultingNational">Centric Consulting          
                    </a>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod; height: 150px">
            <h3 align="center" style="color:blueviolet">Balance</h3>
            <p style="color:darkslategray">Living a balanced life externally and internally.</p>
            
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;  height: 425px">
            <h3 align="center" style="color:blueviolet"></h3>
            <p style="color:darkslategray"></p>

            <a class="twitter-timeline" data-height="400" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">

            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                .fa {
                    padding: 24px;
                    font-size: 30px;
                    width: 65px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 5px;
                }

                    .fa:hover {
                        opacity: 0.7;
                    }

                .fa-facebook {
                    background: #3B5998;
                    color: white;
                }

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }

                .fa-linkedin {
                    background: #007bb5;
                    color: white;
                }

                .fa-instagram {
                    background: #125688;
                    color: white;
                }
            </style>
        </div>

    </div>


</div>      
