@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:gray;color:yellow;background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/75/Zen_%287475945182%29.jpg)">
    <h1>Centric</h1>
    <p class="lead">Core values & Recognition platform (Team 9)</p>
    <p><a href="https://centricconsulting.com/" target="_blank" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Practice Core values</h2>
        <p>
            Visit the core values page to review Centric's core values!
        </p>
        <p><a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/">See practices in values &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Reward Core values</h2>
        <p> Visit our "recognize" page on the platform to reward coworkers who display the values!</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/"> See rewards &raquo;</a> </p>

    </div>
    <div class="col-md-4">
        <h2> Display Core values</h2>
        <p> Show off the core values you've been recognized for on your profile page!</p>
        <p> <a class="background-color: green;btn btn-default" onclick="alert('Now leaving the site')" href="https://centricconsulting.com/about-us/our-story/"> See core values &raquo;</a> </p>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Stewardship</h3>
            <p style="color:darkslategray">Practice responsible stewardship</p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Culture</h3>
            <p style="color:darkslategray">invest in an Exceptional Culture</p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Delivery Excellence</h3>
            <p style="color:darkslategrey">Commit to Delivery Excellence</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Innovation</h3>
            <p style="color:darkslategray">Strive to Innovate</p>
        </div>
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">
            <h3 style="color:blueviolet">Greater Good</h3>
            <p style="color:darkslategray">Ignite Passion for the Greater Good</p>
        </div>
        <div class="col-sm-4" style="background-color:goldenrod;">
            <h3 style="color:blueviolet">Integrity and Openness</h3>
            <p style="color:darkslategray">Embrace Integrity and Openness</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgoldenrodyellow;">

            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                .fa {
                    padding: 24px;
                    font-size: 30px;
                    width: 65px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 5px;
                }

                    .fa:hover {
                        opacity: 0.7;
                    }

                .fa-facebook {
                    background: #3B5998;
                    color: white;
                }

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }

                .fa-linkedin {
                    background: #007bb5;
                    color: white;
                }

                .fa-instagram {
                    background: #125688;
                    color: white;
                }
            </style>
        </div>
