
@{
    ViewBag.Title = "DuplicateUser";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    That user already exists - request not saved
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")

<h2>DuplicateUser</h2>

