
@{
    ViewBag.Title = "NotAuthorized";
}

<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You are not authorized to access this.
</div>
<br />

<a onclick="goBack()"><<< Go Back</a>

<script>
function goBack() {
  window.history.back();
}
</script>